@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

*{padding:0; margin:0; box-sizing:border-box; font-size:18px; font-family:'Oswald', 'Malgun Gothic', sans-serif; font-weight:300; color:#333;}
li{ list-style: none; }
img{ display: block; width:180px; }
button{ cursor: pointer; background-color:transparent; border:none; }
a{ text-decoration:none; }
body{ height:100vh; background-color:#F5F5F5; }

.mobile{ overflow-x: hidden; overflow-y:visible;  box-sizing:content-box; }

/* top */
.top{ display:flex; justify-content:space-between; align-items:center; width:100%; padding:0.5rem 1rem; border-bottom:1px solid #333; }
.top h1{ font-size:2rem; }

/* post */
.post{ display:flex; flex-direction: column; width:100%; padding:1rem; border-bottom:1px solid #333; }
.post img{ width:100%; margin-bottom:1rem; }
.post p{ font-size:1.25rem; }

/* socialBlock */
.mobile > .socialBlock{ display:flex; width:100%; padding:0.5rem 1rem; border-bottom:1px solid #333;}
.mobile > .socialBlock li{ display:flex; align-items:center; margin-right:1rem; }
.mobile > .socialBlock li span{  padding:0 0.5rem; font-size:1.125rem; }
.mobile > .socialBlock button{ width:2.25rem; height:2.25rem; background-repeat:no-repeat; background-size:2.25rem 2.25rem; background-position: center;  }
.likes{ background-image:url(img/like_empty.png); }
.likes.active{ background-image:url(img/like_fill.png); }
.dislikes{ background-image:url(img/dislike_empty.png); }
.dislikes.active{ background-image:url(img/dislike_fill.png); }

/* createComment */
.createComment{ width:100%; padding:1rem; border-bottom:1px solid #333; background-color:#ededed; }
.loggedIn{ display:block; }
.loggedIn .profile{ height:2.5rem; line-height:2.5rem; margin-bottom:0.5rem; }
.loggedIn .profile img{ float:left; width:2.5rem; height:2.5rem; object-fit:cover; object-position:center; border-radius:50%; }
.loggedIn .profile .userName{ margin-left:0.5rem; font-size:1.125rem; font-weight:400; }
.loggedIn #commentForm { display:flex; flex-wrap:wrap; justify-content: space-between; width:100%; }
.loggedIn #commentForm input{ width:75%; height:2.5rem; padding:0 0.5rem; border:1px solid #999; }
.loggedIn #commentForm button{ width:20%; height:2.5rem; background-color:#F5F5F5; border:1px solid #333; border-radius:0.25rem; }
.notLoggedIn button{ display: none; font-weight:400; text-decoration:underline; }

/* comments */
.comments{ width:100%; }
.comments > li{ width:100%; padding:0.5rem 1rem; border-bottom:1px solid #333; }
.comments .profile{ height:2.5rem; line-height:2.5rem; margin-bottom:0.5rem; }
.comments .profile img{ float:left; width:2.5rem; height:2.5rem; object-fit:cover; object-position:center; border-radius:50%; }
.comments .profile .userName{ float:left; margin-left:0.5rem; font-size:1.125rem; font-weight:400; }
.comments .profile .createdAt{ float:left; margin-left:1rem; font-size:0.975rem; }

.comments .profile > div{ position:relative; float:right; margin-left:1rem; }
.comments .profile > div > a{ font-size:0.5rem; color:#999; }
.comments .profile > div ul{ position:absolute; top:2.5rem; right:0; z-indeX:10; display:none; margin-left:0.5rem; border:1px solid #ccc; background-color:#ededed; }
.comments .profile > div li{ line-height: 2.5rem; }
.comments .profile > div li a{ display:block; padding:0 0.5rem; height:100%; font-weight:400; color:#666; }

.comments .profile > div.active ul{ display:flex; flex-direction:column; }

.comments .socialBlock{ display:flex; width:100%; padding:1rem 1rem 0.5rem; }
.comments .socialBlock li{ display:flex; align-items:center; margin-right:1rem; }
.comments .socialBlock li span{ padding:0 0.5rem; }
.comments .socialBlock a{ padding-right:1rem; background-size:0.75rem; background-image:url(img/reply_icon.png); background-position:right center; background-repeat:no-repeat; background-size:0.675rem; color:#666; font-weight:400; }
.comments .socialBlock button.likes, .socialBlock button.dislikes { width:2.25rem; height:2.25rem; background-repeat:no-repeat; background-size:2.25rem 2.25rem; background-position: center;  }

/* footer */
footer{ width:100%; padding:1rem; text-align:center; background-color:#ededed; font-size:1.5rem; font-weight:400; }

@media screen and (min-width:1024px) {
    body{ display:flex; align-items:center; }
    .mobile{ width:540px; height:720px; margin:auto; border:1rem solid #333; border-radius:1rem; }
}